body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--background-white);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* Colors */

:root {
    --background-dark: #2E2F42;
    --background-light: #F4F4FD;
    --background-white: #FFFFFF;
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --title-color: #2E2F42;
    --description-color: #434455;
}

/* Top Line */

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}

.logo-item-theme-light {
    color: #2E2F42;
}

.logo-item-theme-dark {
    color: #F4F4FD;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--pressed-state);
}

.contact {
    font-style: normal;
}

.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--pressed-state);
}

/* Effective Solutions for Your Business */

.hero {
    background-color: var(--background-dark);
}

.hero-descr {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.modal-open-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: var(--primary-brand);
}

.modal-open-btn:hover,
.modal-open-btn:focus {
    background-color: var(--pressed-state);
}

/* Principles of work */

.principle-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.principle-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--description-color);
}

/* What are we doing */

.working-img-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

/* Our team */

.our-team-section {
    background-color: var(--background-light);
}

.team-item {
    background-color: var(--background-white);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

.team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.team-member-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--description-color);
}

/* Footer */

.footer {
    background-color: var(--background-dark);
}

.footer-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/* PORTFOLIO */

.filter-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--primary-brand);
    background-color: var(--background-light);
}

.filter-btn:hover,
.filter-btn:focus {
    color: #FFFFFF;
    background-color: var(--pressed-state);
}

.portfolio-img-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.portfolio-img-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--description-color);
}